{% extends './base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}
    
{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="mx-auto md:h-screen lg:py-0 flex-col items-center flex px-6 py-8 ">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo"/>
            <p>Ai Pro</p>
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign in to your account
                </h1>
                <div class="space-y-2">
                    <div class="">
                        <button class="inline-flex h-10 w-full items-center justify-center gap-2 rounded border border-slate-300 bg-white p-2 text-sm font-medium text-black outline-none focus:ring-2 focus:ring-[#333] focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-60">
                            <img src="https://www.svgrepo.com/show/448234/linkedin.svg" alt="Google" class="h-[18px] w-[18px] "/>
                            <p>Continue with LinkedIn</p>
                        </button>
                        </div>
                                            <div class="">
                        <button class="inline-flex h-10 w-full items-center justify-center gap-2 rounded border border-slate-300 bg-white p-2 text-sm font-medium text-black outline-none focus:ring-2 focus:ring-[#333] focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-60">
                            <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="GitHub" class="h-[18px] w-[18px] "/>
                            <div>Continue with GitHub</div>
                        </button>
                        </div>
                                            <div class="">
                        <button class="inline-flex h-10 w-full items-center justify-center gap-2 rounded border border-slate-300 bg-white p-2 text-sm font-medium text-black outline-none focus:ring-2 focus:ring-[#333] focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-60">
                            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="h-[18px] w-[18px] "/>
                            <p>Continue with Google</p>
                        </button>
                    </div>
                </div>
               {% include './components/forms/loginForm.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
